# Xcode build files
*.xcworkspace
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata/
*.xcuserstate
*.build/
DerivedData/

# CoreML model files
*.mlpackage
stable_diffusion_text_encoder.mlpackage
stable_diffusion_unet.mlpackage
stable_diffusion_vae_decoder.mlpackage

# User-specific Xcode settings
*.entitlements
*.xcuserdata/

# System files
.DS_Store
